body{
  background-color: #903d89;
  margin: 0;
  text-align: center;
  font-family: 'Markazi Text', serif;
}

.top_box{
  background-color: #c3edea;
  position: relative;
  padding-top: 100px;

  /*height: 350px;*/
}

.top_cloud{
  height: 150px;
  position: absolute;
  right: 300px;
  top: 5px;
}

.bottom_cloud{
  height: 150px;
  position: absolute;
  left: 350px;
  bottom: 250px;
}

.mountains{
  width: 600px;
  height: 250px;
  position: relative;
  bottom: 0;
}

.middle_box{
  background-color: #edf05a;
  height: 200px;
  width: 200px;
}

.bottom_box{
  background-color: #4513af;
  height: 200px;
  width: 200px;
}

h1{
  margin-top: 0;
  font-family: 'Merienda', cursive;
}

h2{
  font-family: 'PT Sans Narrow', sans-serif;
}

h3{
  font-family: 'PT Sans Narrow', sans-serif;
}

.web_under{
  text-decoration: underline;
}
