body{
  /*background-color: #bdc8d4;*/
  background-color: #dbe6f1;
  font-family: 'Markazi Text', serif;
  margin: 0;
  text-align: center;
}



.top_box{
  /*background-color: #c3edea;*/
  position: relative;
  padding-top: 100px;
  /*height: 350px;*/
}

.top_cloud{
  height: 150px;
  position: absolute;
  right: 300px;
  top: 5px;
}

.bottom_cloud{
  bottom: 250px;
  height: 150px;
  left: 350px;
  position: absolute;


}

.mountains{
  bottom: 0;
  height: 250px;
  width: 600px;
  position: relative;

}


.skill_row{
  width: 50%;
  /*display: inline-block;*/
  line-height: 1.5;
  margin: 100px auto 100px;
  text-align: left;
}
.cook_pic{
  float: right;
  margin-left: 30px;
  width: 30%;
}

.web_pic{
  float: left;
  margin-right: 30px;
  width: 30%;
}


h1{
  color: #66BFBF;
  font-family: 'Merienda', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0;
}

h2{
  color: #66BFBF;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3.625rem;
}

h3{
  color: #11999E;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3rem;
}

p{
  font-family: 'Markazi Text', serif;
  font-size: 2.25rem;
}

a{
  color: #11999E;
  font-size: 1.625rem;
}

.web_under{
  text-decoration: underline;
}
